# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php

# Ignore Laravel mix & vite builds
/public/hot
/public/build
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map

# Environment Files
.env
.env.*.backup
.env.production
.env.local
.env.backup
.env.staging

# Composer
composer.lock

# NPM/Yarn debug
npm-debug.log
yarn-error.log
pnpm-debug.log

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs + Editors
.idea
.vscode
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.zed

# PHPUnit
.phpunit.cache

# JetBrains Rider
*.sublime-workspace
*.sublime-project

# Archives
*.zip
*.tar.gz

# Laravel Vapor
/.vapor

# Generated metadata
*.symfony.cache

# Laravel Homestead
Homestead.yaml
Homestead.json

# Laravel Forge
forge.env

# Cache
*.cache
*.lock

# Logs
*.log
*.pid
*.seed
*.coverprofile
*.DS_Store

# Binaries
*.exe
*.dll
*.so
*.dylib

# Sensitive token files
auth.json

# Other storage/pail (Laravel Reverb, Pail logs…)
storage/pail
